@page
@model Ass2_WebRazor.Pages.Publishers.IndexModel
@{
    ViewData["Title"] = "Publishers";
}
<style>
    /* CSS cho tiêu đề "Books" */
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    /* CSS cho ô input tìm kiếm */
    .search-container {
        margin-bottom: 20px;
        text-align: center;
    }

    #searchInput #minPriceInput #maxPriceInput {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 5px;
    }

    #searchButton {
        padding: 5px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        #searchButton:hover {
            background-color: #0056b3;
        }

    /* CSS cho bảng sách */
    #publishersTable {
        width: 100%;
        border-collapse: collapse;
    }

        #publishersTable th, #publishersTable td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        #publishersTable th {
            background-color: #f0f0f0;
        }

    /* CSS cho nút "Add New" */
    #addButton {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        #addButton:hover {
            background-color: #218838;
        }

    a.update-button {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

        a.update-button:hover {
            background-color: #0056b3;
        }

    a.delete-button {
        display: inline-block;
        padding: 5px 10px;
        background-color: #dc3545;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

        a.delete-button:hover {
            background-color: #c82333;
        }

</style>

<h1>Publishers</h1>

<div class="search-container">
    <input type="text" id="searchInput" placeholder="Search by name..." />
   
    <button type="button" id="searchButton">Search</button>
</div>
<table id="publishersTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <!-- Book list will be populated here -->
    </tbody>
</table>
<div id="pagination"></div>
<button type="button" id="addButton">Add New</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var currentPage = 1;
    var pageSize = 3;
    var totalPages = 1;

    $(document).ready(function () {
        ShowPublishers(currentPage, "");
    });

    function ShowPublishers(page, search) {
        $("#publishersTable tbody").html("");
        $.ajax({
            type: "GET",
            url: "https://localhost:7027/api/publishers?current-page=" + page + "&page-size=" + pageSize + "&name=" + search,
            contentType: "application/json",
            success: function (result, status, xhr) {
                $.each(result.publishers, function (key, item) {
                    var row = $("<tr>");
                    row.append($("<td>").html(item.id));
                    row.append($("<td>").html(item.name));
                    row.append($("<td>").html(item.city));
                    row.append($("<td>").html(item.state));
                    row.append($("<td>").html(item.country));
                    row.append($("<td>").html("<a href='/Publishers/Edit?id=" + item.id + "' class='update-button'>Update</a>"));
                    row.append($("<td>").html("<a  href='#' class='delete-button delete'>Delete</a>"));
                    $("#publishersTable tbody").append(row);
                });
                // Update pagination
                currentPage = result.currentPage;
                totalPages = Math.ceil(result.total / pageSize);
                UpdatePagination();
            },
            error: function (xhr, status, error) {
                alert("Error: " + status + " - " + error);
            }
        });
    }

    $(document).on("click", ".delete", function () {
        var id = $(this).closest("tr").find("td:eq(0)").text();
        $.ajax({
            type: "DELETE",
            url: "https://localhost:7027/api/publishers/" + id,
            contentType: "application/json",
            success: function (result, status, xhr) {
                ShowPublishers(currentPage, "");
            },
            error: function (xhr, status, error) {
                console.log("Error:", error);
            }
        });
    });

    function UpdatePagination() {
        var paginationHtml = "Page: ";
        for (var i = 1; i <= totalPages; i++) {
            if (i === currentPage) {
                paginationHtml += "<span>" + i + "</span> ";
            } else {
                paginationHtml += "<a href='#' onclick='ChangePage(" + i + ")'>" + i + "</a> ";
            }
        }
        $("#pagination").html(paginationHtml);
    }

    $(document).on("click", "#searchButton", function () {
        var searchInput = $("#searchInput").val();
        
        ShowPublishers(currentPage, searchInput);
    });

    function ChangePage(page) {
        var searchInput = $("#searchInput").val();

        ShowPublishers(page, searchInput);
        // ShowBooks(page, "", "", "");
    }

    $("#addButton").click(function () {
        window.location.href = "https://localhost:7043/Publishers/Create";
    });

</script>