@page
@model Ass2_WebRazor.Pages.LoginModel
@{
    Layout = null;
}
<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .image-container {
        text-align: center;
    }

        .image-container img {
            max-width: 100%;
            height: auto;
        }

    .login-container {
        flex: 1;
        max-width: 400px;
        padding: 20px;
        border-radius: 5px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: blue;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button {
        width: 50%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }

    #login-error {
        margin-top: 10px;
    }
</style>
<div class="container">
    <div class="image-container">
        <img src="~/image/stack-books.png" alt="Image" />
    </div>
    <div class="login-container">
        <h1>Book Stores Login</h1>
        <form id="login-form" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div style="display: none; color: red ;margin-top :5px" id="email-status">Invalid email input</div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button id="login" type="submit">Login</button>
            <a href="/Register" style="margin-left: 10px">Sign up</a>
        </form>
        <div id="login-error" style="display: none; color: red;">
            Invalid email or password.
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
     $(document).ready(function () {
        $("#login").click(function () {

            var email = $("#email").val();
            var password = $("#password").val();

            if (!email || !password) {
                $("#login-error").text("Please enter email and password.").show();
                return;
            }
            var loginData = {
                email: email,
                password: password
            };

            $.ajax({
                type: "POST",
                url: "https://localhost:7027/api/users/login",
                contentType: "application/json",
                data: JSON.stringify(loginData),
                success: function (result, status, xhr) {
                    if (result.success) {
                            localStorage.setItem('token', result.data);

                            handleSuccessfulLogin();
                    } else {
                        $("#login-error").text("Invalid email or password.").show();
                    }
                },
                error: function (xhr, status, error) {
                    $("#login-error").text("An error occurred while logging in. Please try again later.").show();
                    console.error("Lỗi AJAX: " + error);
                }
            });
        });
    });

    function handleSuccessfulLogin() {
        var token = localStorage.getItem('token');
        if (token) {
            
            $.ajaxSetup({
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            });
            var payload = parseJwt(token);
            if (payload) {
                var userId = payload.Id;
                var userEmail = payload.Email;
                var userRole = payload.role;

                if (userRole === "1") {
                    window.location.href = '/Books/Index';
                } else {
                    window.location.href = '/Shop?id='+userId;
                }
            }

        }
    }

    function parseJwt(token) {
        try {
            var payloadBase64 = token.split('.')[1];
            var payloadJson = atob(payloadBase64);
            var payloadObj = JSON.parse(payloadJson);
            return payloadObj;
        } catch (error) {
            console.error("Error parsing JWT:", error);
            return null;
        }
    }

</script>